.description {
    white-space: pre-line;
}

body {
    font-family: monospace;
    font-size: 16px;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0;
}

div.greeting {
    background-color: cyan;
    border: 1px solid blue;
    color: magenta;
    font-size: 24px;
    margin: auto;
    padding: 12px;
    text-align: center;
    vertical-align: ;
}

span.name {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}
